body {
    background-color: black;
    padding: 20px;
    margin-top: 250px;
  }
  #dialog{
    color: red;
    display: none;
  }
  #timer {
    display: flex;
    justify-content: center;
    background-color: black;
    font-size: 50px;
  }
  #buttons {
    display: flex;
    justify-content: center;
    background-color: black;
  }
  #start {
    block-size: 70px;
    color: black;
    background-color: red;
    border: mediumblue;
    border-radius: 50px;
  }
  #reset {
    block-size: 70px;
    color: red;
    background-color: black;
    border: mediumblue;
    border-radius: 50px;
  }
  #pause {
    block-size: 70px;
    color: black;
    background-color: red;
    border: mediumblue;
    border-radius: 50px;
  }
  #minutes {
    border-radius: 60px;
    color: black;
    background-color: red;
  }
  #seconds {
    border-radius: 60px;
    animation: ease;
    color: red;
    background-color: black;
  }
  #milliseconds {
    border-radius: 60px;
    color: black;
    background-color: red;
  }
  